@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;0,800;0,900;0,1000;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    
    --primary-color: #183D3D;
    ---primary-color: #93B1A6;
    ----primary-color: #06151D; 
    -----primary-color: #040D12;
}
html {
    scroll-behavior: smooth;
}

/*HEADER*/

header .logo{
    font-weight: bolder;
    color: var(---primary-color);
    letter-spacing: 2px;
}
header {
    background-color: var(-----primary-color);
    padding: 50px;
    color: var(---primary-color);
    display: flex;
    justify-content: space-around;
}
header h3 > span{
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

/*BODY*/

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/*LIST*/

ul{
    list-style-type: none;
    display:flex;
}
header ul li{
    margin-right: 55px;
}
header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
header ul li a:hover{
    color: #fff;
    background-color: var(---primary-color);
}

/*BOTTON*/

.button-cls{
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}
.button-cls:hover{
    cursor: pointer;
    background-color: var(---primary-color);
    color: #fff;
}

/* ICON */
.main-icon{
    background-color: var(-----primary-color);
    color: var(---primary-color);
}

/* SECTION */

section.main-section {
    background-color: var(-----primary-color);
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 60px 140px 0 200px;
    
}
.main-section img {
    padding: 20px 0;
    border-radius: 200px;
}

section h1{
      letter-spacing: 2.5px;
      font-weight: bold;
      font-size: 80px;
}

section span{
    color: var(---primary-color);
}

section button{
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #fff;  
}
.main-para{
    color: #95978f;
}

/* ICON */

.social-icon {
    margin: 20px 0;
}
.social-icon li {
    margin-right: 15px;
}
.social-icon li > a {
    text-decoration: none;
    color: var(--color-orange);
    display: flex;
}
.social-icon li a > i.fa-square-facebook:hover {
    color: blue;
}
.social-icon li a > i.fa-linkedin:hover {
    color: #0077B5;
}
.social-icon li a > i.fa-square-instagram:hover {
    color: #F56040;
}
.social-icon li a > i.fa-github:hover {
    color: green;
}
main top-icon{
    top: 10px;
}
/* ABOUT SECTION */
.about-section {
    background-color: var(----primary-color);
    color: #fff;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.about-section img {
    
    border-radius: 150px;
    border: 0.1 solid var(-----primary-color);
    box-shadow: 0 0 10px var(---primary-color);
}

.about-section ol {
    list-style: none;
    margin: 10px 0;

}
.about-section-text {
    padding: 50px 120px;
    max-width: 450px;

}
.about-section-text h2{
    font-size: 40px;


}
.about-section-text li {
    margin-bottom: 15px;
    color: gray
    
}
.about-section-text li > strong {
    color: #fff;
    margin-right: 5px;
}
.about-section-text li > a {
    text-decoration: none;
    color: #95978f;
}
.about-section-text li > a:hover{
    color: var(--color-orange);
}
/* Work Section */
 .hobbies-section {
    background-color: var(-----primary-color);
    color: #fff;
    padding: 60px;
    text-align: center;
 }
.hobbies-section-box1 {
    background-color: var(----primary-color);
    padding: 50px 30px 50px 60px;
    max-width: 300px;
    text-align: left;
    border-radius: 50px;
    border: 0.1 solid (-----primary-color);
    box-shadow: 0 0 10px var(-----primary-color);
    margin-right: 50px;
    
}
.hobbies-section-box1 a {
    text-decoration: none;
    color: var(---primary-color);

}
.hobbies-section-box1-des {
    margin: 18px 0;
}
.hobbies-section-icon {
    background-color: var(-----primary-color);
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    cursor:pointer;
}
.hobbies-section-box1 p {
    font-weight: 10;
}
.hobbies-section-box1:hover {
    background-color: var(--primary-color);
}
.hobbies-section-icon:hover {
    background-color: violet;
}
.hobbies-section-box1-des:hover {
    color: gray;
}
.hobbies-section-box1 a:hover {
    color: blue;
}
.hobbies-section--box {
    display: flex;
    justify-content: center;
}
.hobbies-section-title {
    font-size: 45px;
    margin-bottom: 40px;
}
.contact-section {
    background-color: var(----primary-color);
    padding: 40px;
    color: #fff;
    text-align: center;
}
.contact-section form input, textarea{
    padding: 5px 10px;
    width: 350px;
    border: none;
    border-radius: 30px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    background-color: #dbdbd9;
}
.contact-section h3 {
    font-size: 40px;
    margin: 30px 0;
}
/* FOOTER */
footer {
    background-color: var(-----primary-color);
    color: gray;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
footer a {
    text-decoration: none;
    color: var(--color-orange);
}

/* * Media Query Starts Here* */

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    header ul li {
        margin-right: 20px;
    }

    .class-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
    }

    .logo-container {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .header-button {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .class-list {
        padding-bottom: 10px;
    }

    .class-list li a {
        font-size: 15px;
    }

    .girl-avatar {
        display: none;
    }

    .main-section {
        flex-direction: column;
        /* padding: 100px; */

    }

    section.main-section {
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    .about-section {
        flex-direction: column;
        padding: 100px 0;
    }

    .about-section h2 {
        text-align:  center;
    }

    .about-section ol {
        padding: 20px 0;
    }

    .hobbies-section {
        padding: 100px 0;
    }

    .hobbies-section--box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .main-section h1 {
        font-size: 50px;
        text-align: center;
        padding-bottom: 20px;
    }

    .main-para {
        max-width: 380px;
        padding-bottom: 10px;
    }

    .main-para, h4 {
        text-align: center;
    }

    ul.social-icon {
        justify-content: center;
        align-items: center;
    }

    .contact-section form input, textarea {
        width: 250px;
    }
}
